@import './partials/colors';
@import './partials/normalize';
@import './partials/mixins';

// Components
@import './layout/footer/footer';
@import './layout/header/header';
@import './layout/container/container';
@import './layout/hero/hero';

// Pages
@import './pages/Home/home';
@import './pages/About/about';
@import './pages/Portfolio/portfolio';

@import 'mobile.scss';

body {
	background: $dark;
	color: $textColor;
}

.site-width {
	max-width: 1200px;
	margin: 0 auto;
	display: block;
}