.footer {
	padding: 20px 10px;
	text-align: center;

	.disclaimer {
		display: block;
		padding: 10px 0
	}

	.links {
		display: block;
		ul {
			display: flex;
			align-items: center;
			justify-content: center;
			list-style-type: none;
			margin: 0;
			
			a {
				width: 25px;
				height: 25px;
				display: flex;
				align-items: center;
				justify-content: center;
				background: #fff;
				margin: 5px;
				border-radius: 3px;
				svg {
					color: $dark;
					
				}
			}
		}
	}
}