.pagePortfolio {
	@include siteWidth(1200px);
	display: flex;
	.categories {
		width: 30%;
		display: block;
		padding: 10px;
		.category {
			width: auto;
			display: inline-block;
			margin: 5px;
			padding: 5px;
			background: $dark;
			cursor: pointer;
			border-radius: 3px;
			border: 1px solid #fff;
			transition: 0.25s all;
			&:hover {
				background: $secondary;
				border: 1px solid $secondary;
			}
			&.active {
				background: $secondary;
				border: 1px solid $secondary;
				color: $dark;
			}
		}
	}

	.categories .reset {
		@extend .category;
		width: calc(100% - 10px) ;
		text-align: center;
		display: block;
		margin: 10px auto;
		background: $secondary;
		border: 1px solid $secondary;
	}
	.portfolio-items {
		width: 70%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		padding: 10px;

		.portfolio-item {
			width: calc(100% / 3 - 20px);
			margin: 10px;
			.portfolio-header {
				position: relative;
				img {
					height: 300px;
					width: 100%;
					object-fit: cover;
				}
				.portfolio-title {
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
					bottom: 0;
					width: 100%;
					padding: 10px;
					text-align: left;
					background: rgba(#000, .5);
					font-weight: bold;
					text-transform: uppercase;
				}
			}
		}
	}
}